<div ngClass="headerUsersList newRow">
    <div ngClass="column-6">
        <h3>Usuarios</h3>
        <h5 style="font-weight: normal;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h5>
    </div>
    <div ngClass="column-6 center">
        <button ngClass="verticalAlign outlinedButton" type="button" style="margin-right: 5px;">Previsualizar</button>
        <button ngClass="verticalAlign filledButton" type="button" (click)="openNewUserModal()">Agregar nuevo usuario</button>
    </div>
</div>

<div ngClass="usersList">
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Correo</th>
                <th>Rol</th>
                <th ngClass="center">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn fast" *ngFor="let item of users  ">
                <td>
                    <img [src]='item.picture' ngClass="profilePhoto">
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.fathersLastName}}
                </td>
                <td>
                    {{ item.mothersLastName}}
                </td>
                <td>
                    {{ item.email}}
                </td>
                <td>
                    {{item.roleId | roleName:roles}}
                </td>
                <td ngClass="center">
                    <label class="switch">
                        <input type="checkbox" [checked]="item.active">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td ngClass="center">
                    <button ngClass="editButton" (click)="openUpdateUserModal()"><i class="fa fa-edit"></i></button>
                    <button ngClass="deleteButton"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-new-user [showModal]="showNewUserModal" (closeModal)="closeNewUserModal()"></app-new-user>
<app-edit-user [showModal]="showUpdateUserModal" (closeModal)="closeUpdateUserModal()"></app-edit-user>