.headerUsersList {
    height: 15%;
    padding: 0.8em;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    margin-bottom: 10px;
}

.usersList {
    padding: 0.8em;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
}

.newRow {
    display: flex;
}

.inputfile {
    z-index: -1;
    display: none;
}

.column-6 {
    width: 50%;
    padding: 1px;
    position: relative;
}

.column-3 {
    width: 25%;
    padding: 1px;
    position: relative;
}

.column-9 {
    width: 75%;
    padding: 1px;
    position: relative;
}

.column-12 {
    padding: 1px;
    position: relative;
}

.right {
    text-align: right;
}

.verticalAlign {
    margin: 0;
    position: inherit;
    top: 50%;
}

.filledButton {
    background: var(--primaryColor);
    padding: 5px;
    border-style: solid;
    border-color: var(--primaryColor);
    color: white;
    width: 30vh;
    border-radius: 0.3em;
}

.outlinedButton {
    background: none;
    padding: 5px;
    border-style: solid;
    border-color: var(--primaryColor);
    color: var(--primaryColor);
    width: 30vh;
    border-radius: 0.3em;
}

.onlyTextButton {
    background: none;
    padding: 5px;
    border-style: none;
    border-color: var(--primaryColor);
    color: var(--primaryColor);
    width: 30vh;
    border-radius: 0.3em;
}

.center {
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.profilePhoto {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    height: 20px;
    width: 45px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2.9px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    height: 20px;
    width: 45px;
    background-color: #2196F3;
}

input:focus+.slider {
    height: 20px;
    width: 45px;
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.editButton {
    background: none;
    border: none;
    color: var(--primaryColor);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.deleteButton {
    background: none;
    border: none;
    color: red;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}