<div id="myModal" class="modal" *ngIf="showModal">
    <div class="modal-content">
        <header class="">
            <h2>Editar usuario</h2>
        </header>
        <div>
            Foto de perfil
        </div>
        <div ngClass="newRow">
            <div ngClass="column-3">
                <img [src]='user.picture' ngClass="profilePhoto">
            </div>
            <div ngClass="column-9">
                <label>JPG, PNG | Tamaño mínimo de 300px x 300px</label>
                <input ngClass="inputfile" style="top: 20% !important;" type="file" id="profileImage" accept=".png, .jpg" />

                <div ngClass="verticalAlign" style="top: 20% !important;">
                    <label for="profileImage" ngClass="verticalAlign filledButton">Subir Foto</label>
                </div>
            </div>
        </div>
        <div>
            Información básica
        </div>
        <div ngClass="newRow">
            <div ngClass="column-6">
                <input type="text" id="fname" name="fname" ngModel="user.name" placeholder="Nombre">
            </div>
            <div ngClass="column-6 center">
                <input type="text" id="fname" name="fname" placeholder="Apellido paterno">
            </div>
        </div>
        <div ngClass="newRow">
            <div ngClass="column-6">
                <input type="text" id="fname" name="fname" placeholder="Apellido materno">
            </div>
            <div ngClass="column-6 center">
                <input type="text" id="fname" name="fname" placeholder="Correo electrónico">
            </div>
        </div>

        <div ngClass="newRow">
            <div ngClass="column-6">
                <input type="text" id="fname" name="fname" placeholder="Rol">
            </div>
            <div ngClass="column-6 center">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <footer>
            <div ngClass="column-12 right">
                <button ngClass="verticalAlign onlyTextButton" type="button" style="margin-right: 5px;" (click)="closeModalUpdateUSer()">Cancelar</button>
                <button ngClass="verticalAlign filledButton" type="button">Guardar usuario</button>
            </div>
        </footer>
    </div>

</div>